<div class="row">
  <div class="col-md-12" id="controls">

    <h1 class="visually-hidden">{{ title }}</h1>

  </div>

  <div class="col-md-6">
    <div class="time-container" id="left">
      {{ white_name }}
    </div>
    <div id="js-white-timer">
      <span data-time-left="{{ white_time }}"></span>
      <input name="{{ name }}[white]" value="{{ white_time }}">
    </div>
  </div>

  <div class="col-md-6">
    <h1><span id="cdtime"></span></h1>

    <div class="time-container" id="right">
      {{ black_name }}
    </div>
    <div id="js-black-timer">
      <span data-time-left="{{ black_time }}"></span>
      <input name="{{ name }}[black]" value="{{ black_time }}">
    </div>
  </div>
</div>
