<div class="game-timer">
  <div class="visually-hidden" id="controls">
    <h1>{{ title }}</h1>
  </div>

  <div class="time-container left">
    <div>
      {{ white_name }}
    </div>
    <div id="js-white-timer" class="time-display{{ player == 'w' ? ' active' }}">
      <span data-time-left="{{ white_time }}"></span>
      <input type="hidden" name="{{ name }}[white]" value="{{ white_time }}">
    </div>
  </div>

  <div class="time-container right">
    <div>
      {{ black_name }}
    </div>
    <div id="js-black-timer" class="time-display{{ player == 'b' ? ' active' }}">
      <span data-time-left="{{ black_time }}"></span>
      <input type="hidden" name="{{ name }}[black]" value="{{ black_time }}">
    </div>
  </div>
</div>
